<h1>Listing Users</h1>
 
<table>
    <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>E-Mail</th>
    <th>Mobile Phone</th>
    <th>Notes</th>      
    </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= user.mobilephone %></td>
      <td><%= user.notes %></td>
  </tr>
  <% end %>
  
</table>